COOKIE_SECRET=*GENERATE A SECURE COOKIE SECRET AND PUT IT HERE*
CLOUDINARY_URL=*URL TO CLOUDINARY*

# You will need to provide a MAILGUN_API_KEY and MAILGUN_DOMAIN to
# get email sending working.

MAILGUN_API_KEY=*YOUR MAILGUN API KEY*
MAILGUN_DOMAIN=*YOUR MAILGUN DOMAIN URL*