extends layout

mixin skill(name, color)
  svg(viewBox="0 0 100 100", width="12rem", height="12rem").skill
    circle(cx="50", cy="50", r="50", fill=color)
    text(x="50", y="55", text-anchor="middle", font-size="1.5rem")= name

block content
  div.navbar
    a.navLink(href="#Top") Top
    a.navLink(href="#About") About Me
    a.navLink(href="#Skills") Skills
    a.navLink(href="#Experience") Experience
    a.navLink(href="#Activities") Activities
    a.navLink(href="#Resume") Resume
  div.banner
    img(src="/images/road.jpeg", x="0", y="0").banner.image
    svg(viewBox="0 0 100 100").bannerItem
      defs
        path(id="nameCircle", d="M6 45 A 30 30 0 1 0 94 45")
        clipPath(id="picCircle")
          circle(cx="50", cy="50", r="28")
        symbol(id="clippedPic", viewBox="0 0 100 100")
          image(href="/images/profile-image.jpg", x="21", y="22", width="60", height="60", clip-path="url(#picCircle)")
      use(href="#clippedPic", x="0", y="0")
      g(y="30")
        circle(cy="50",cx="50", r="38", fill="none", stroke="white",stroke-width="1rem", stroke-opacity="0.5")
        text(font-size="0.6rem")
          textPath(href="#nameCircle", startOffset="35%") Zachary Sang
    svg(viewBox="0 0 100 100").inspiration.bannerItem
      rect(width="100", height="100", fill="white", opacity="0.5")
      foreignObject(x="10" y="10" width="80" height="80")
        p.tagline Please don't squeeze the 
          br
          span.computerist Code
        p.tagline.hide New thinking. New 
          span.computerist Code.
        p.tagline.hide Be young, Have fun, 
          br
          span.computerist Code.
        p.tagline.hide Snap. Crackle. 
          br
          span.computerist Code!
        p.tagline.hide Vous Aves Un
          br
          span.computerist Code?
        p.tagline.hide Leaner, Meaner, 
          br
          span.computerist Code.
        p.tagline.hide It's time to think about
          br
          span.computerist Code
        p.tagline.hide Don't live a little, live a 
          br
          span.computerist Code
        p.tagline.hide Things go better with 
          br
          span.computerist Code
        p.tagline.hide Moving at the speed of 
          br
          span.computerist Code
        p.tagline.hide Time to make the 
          br
          span.computerist Code
        p.tagline.hide Curiously strong 
          br
          span.computerist Code
  div.gridContainer
    div.contents
      div.sectionContainer#About(itemNum="1")
        h1 Who I am
        div.section
          a(href="/images/Hackathon_Pic.jpg")
            img(src="/images/Hackathon_Pic.jpg")
          p
            | Hello! My name is Zachary Sang (in the blue shirt) and I’m a Computer 
            | Science Major at the University of Cincinnati (Graduating Spring 2019). 
            | I’m a third year student at UC who moved to Cincinnati from Hong Kong for my 
            | first year of college. I have always been interested in solving problems and 
            | using my skills to improve things around me. I also 
            | hold a deep interest in computers, how they work, and how they can be used creatively 
            | to solve issues and inefficiencies. Because of all this, I’m very glad that 
            | I was able to find myself as a CS major because it allows me to create while 
            | continuously learning about technology and solving exciting and fascinating problems.
      div.sectionContainer#Skills(itemNum="2")
        h1 Things I'm Good At
        div.section
          div.skillsbox
            +skill("Java","pink")
            +skill("Javascript","yellow")
            +skill("Python", "green")
            +skill("Html","blue")
            +skill("C++","red")
            +skill("Git","grey")
      div.sectionContainer#Experience(itemNum="3")
        h1 My Experience
        div.section
          h2#UsBank US Bank
            span.duration  (Spring 2017)
          h2#Siemens Siemens
            span.duration  (Fall 2015, Summer 2016)
          h2#TrustLab TrustLab
            span.duration  (Spring 2016)
          h2#Velocity Velocity Business Solutions
            span.duration  (Summer 2015)
      div.sectionContainer#Activities(itemNum="4")
        h1 Things I do
        div.section
          h2#RevolutionUC RevolutionUC
            span.duration  (Fall 2016, Spring 2017)
          h2#BearcatBuddies Bearcat Buddies
            span.duration  (Spring 2016, Fall 2016)

      div.sectionContainer#Resume(itemNum="5")
        h1 Resume
        div.section
          a(href="/images/Zachary_F_Sang_Resume.png").resume.link
            img(src="/images/Zachary_F_Sang_Resume.png").resume.image
