extends layout

mixin skill(name, color)
  svg(viewBox="0 0 100 100", width="12rem", height="12rem").skill
    circle(cx="50", cy="50", r="50", fill=color)
    text(x="50", y="55", text-anchor="middle", font-size="1.5rem")= name

block content
  div.navbar
    a.navLink(href="#Top") Top
    a.navLink(href="#About") About Me
    a.navLink(href="#Skills") Skills
    a.navLink(href="#Experience") Experience
    a.navLink(href="#Activities") Activities
    a.navLink(href="#Resume") Resume
  div.banner
    img(src="/images/road.jpeg", x="0", y="0").banner.image
    svg(viewBox="0 0 100 100").bannerItem
      defs
        path(id="nameCircle", d="M6 45 A 30 30 0 1 0 94 45")
        clipPath(id="picCircle")
          circle(cx="50", cy="50", r="28")
        symbol(id="clippedPic", viewBox="0 0 100 100")
          image(href="/images/profile-image.jpg", x="21", y="22", width="60", height="60", clip-path="url(#picCircle)")
      use(href="#clippedPic", x="0", y="0")
      g(y="30")
        circle(cy="50",cx="50", r="38", fill="none", stroke="white",stroke-width="1rem", stroke-opacity="0.5")
        text(font-size="0.6rem")
          textPath(href="#nameCircle", startOffset="35%") Zachary Sang
    svg(viewBox="0 0 100 100").inspiration.bannerItem
      rect(width="100", height="100", fill="white", opacity="0.5")
      foreignObject(x="10" y="10" width="80" height="80")
        p.tagline Please don't squeeze the 
          br
          span.computerist Code
        p.tagline.hide New thinking. New 
          span.computerist Code.
        p.tagline.hide Be young, Have fun, 
          br
          span.computerist Code.
        p.tagline.hide Snap. Crackle. 
          br
          span.computerist Code!
        p.tagline.hide Vous Aves Un
          br
          span.computerist Code?
        p.tagline.hide Leaner, Meaner, 
          br
          span.computerist Code.
        p.tagline.hide It's time to think about
          br
          span.computerist Code
        p.tagline.hide Don't live a little, live a 
          br
          span.computerist Code
        p.tagline.hide Things go better with 
          br
          span.computerist Code
        p.tagline.hide Moving at the speed of 
          br
          span.computerist Code
        p.tagline.hide Time to make the 
          br
          span.computerist Code
        p.tagline.hide Curiously strong 
          br
          span.computerist Code
  div.gridContainer
    div.contents
      div.sectionContainer#About(itemNum="1")
        h1 Who I am
        div.section.intro
          a(href="/images/Hackathon_Pic.jpg")
            img(src="/images/Hackathon_Pic.jpg")
          p
            | Hello! My name is Zachary Sang (in the blue shirt) and I’m a Computer 
            | Science Major at the University of Cincinnati (Graduating Spring 2019). 
            | I’m a third year student at UC who moved to Cincinnati from Hong Kong for my 
            | first year of college. I have always been interested in solving problems and 
            | using my skills to improve things around me. I also 
            | hold a deep interest in computers, how they work, and how they can be used creatively 
            | to solve issues and inefficiencies. Because of all this, I’m very glad that 
            | I was able to find myself as a CS major because it allows me to create while 
            | continuously learning about technology and solving exciting and fascinating problems.
      div.sectionContainer#Skills(itemNum="2")
        h1 Things I'm Good At
        div.section
          div.sectionHeadings
            h2.Java Java
            h2.Javascript Javascript
            h2.Python Python
            h2.Html HTML/ CSS
            h2.cpp C++
            h2.Git Git
          div.sectionContent
            div.entry.Java
              img.entryPic
              p
                |Throughout my experience both at Siemens PLM Software and at 
                |US Bank, I have gained experience in working with Java on web applications. I have learned to use technologies
                | such as Selenium, Javabeans, Java servlets and JSPs.
            div.entry.Javascript
              img.entryPic
              p
                |In the past year I have developed a strong interest in web technologies
                | and have become experienced through working on web-based applications at several hackathons
                | throughout the year. From this, I have gained experience in not only client-side Javascript and JQuery, 
                |but also server-side NodeJS and ExpressJS.
            div.entry.Html
              img.entryPic
              p
                |From my experience with web-applications gained from tinkering 
                |in my free time, participating in hackathons, and from my co-op employment, I have become very familiar with HTML and CSS.
            div.entry.Python
              img.entryPic
              p
                |During my experience working with a professor in the Spring of 2016 I work extensively with Python in making
                | a utility that created snapshots of a given github repository and stored them under a specific file structure. 
            div.entry.Git
              img.entryPic
              p
                |By using Git while participating in Hackathons and when working on my own projects, I have become very comfortable
                | with using Git to not only track changes, but also to generally manage code in a well-structured manner.
      div.sectionContainer#Experience(itemNum="3")
        h1 My Experience
        div.section
          div.sectionHeadings
            h2.USBank US Bank
            h2.Siemens Siemens PLM
            h2.TrustLab Trust Lab
            h2.Velocity Velocity Business Solutions
          div.sectionContent
            div.entry.USBank
              img(src="/images/usbanklogo.jpg").entryPic
              p
                |At my time at Siemens I worked as a developer for Siemens PLM on their Active Knowledge Sharing (AKS) team.
                | AKS is a web application that helps tracking and managing business and manufacturing processes. 
                |During my first semester, I worked heavily on building a utility that would automate the QA team’s 
                |testing of this web application. Our team used the Selenium web-driver alongside Cucumber with Java 
                |to allow the non-technical QA team to write automated tests in a near-English language. These tests 
                |would then be able to be executed by the web-driver and results would be recorded for later reference. 
                |As a part of this project, I learned a lot about web-drivers and also about Cucumber and how it uses 
                |regex to capture phrases and map them to Java code. Additionally, through this experience I was able 
                |to greatly expand my familiarity with HTML and CSS.
            div.entry.Siemens
              img(src="/images/Siemens_picnic_pic.jpg").entryPic
              p
                |At my time at Siemens I worked as a developer for Siemens PLM on their Active Knowledge Sharing (AKS) team.
                | AKS is a web application that helps tracking and managing business and manufacturing processes. 
                |During my first semester, I worked heavily on building a utility that would automate the QA team’s 
                |testing of this web application. Our team used the Selenium web-driver alongside Cucumber with Java 
                |to allow the non-technical QA team to write automated tests in a near-English language. These tests 
                |would then be able to be executed by the web-driver and results would be recorded for later reference. 
                |As a part of this project, I learned a lot about web-drivers and also about Cucumber and how it uses 
                |regex to capture phrases and map them to Java code. Additionally, through this experience I was able 
                |to greatly expand my familiarity with HTML and CSS.
            div.entry.Velocity
              img(src="/images/Legend_Tower_VBS_pic.jpg").entryPic
              p
                |At my time at Siemens I worked as a developer for Siemens PLM on their Active Knowledge Sharing (AKS) team.
                | AKS is a web application that helps tracking and managing business and manufacturing processes. 
                |During my first semester, I worked heavily on building a utility that would automate the QA team’s 
                |testing of this web application. Our team used the Selenium web-driver alongside Cucumber with Java 
                |to allow the non-technical QA team to write automated tests in a near-English language. These tests 
                |would then be able to be executed by the web-driver and results would be recorded for later reference. 
                |As a part of this project, I learned a lot about web-drivers and also about Cucumber and how it uses 
                |regex to capture phrases and map them to Java code. Additionally, through this experience I was able 
                |to greatly expand my familiarity with HTML and CSS.
      div.sectionContainer#Activities(itemNum="4")
        h1 Things I do
        div.section

      div.sectionContainer#Resume(itemNum="5")
        h1 Resume
        div.section
          a(href="/images/Zachary_F_Sang_Resume.png").resume.link
            img(src="/images/Zachary_F_Sang_Resume.png").resume.image
