extends layout

block content
  div.navbar
    a.navLink(href="#Top") Top
    a.navLink(href="#About") About Me
    a.navLink(href="#Skills") Skills
    a.navLink(href="#Experience") Experience
    a.navLink(href="#Resume") Resume
  div.banner
    img(src="/images/road.jpeg", x="0", y="0").banner.image
    svg(viewBox="0 0 100 100")
      defs
        path(id="nameCircle", d="M30,50 a20,20 0 1,0 40,0a20,20 15 1,0 -40,0")
        clipPath(id="picCircle")
          circle(cx="50", cy="50", r="14")
      symbol(id="clippedPic", viewBox="0 0 100 100")
        image(xlink:href="/images/profile-image.jpg", x="35", y="36", width="30", height="30", clip-path="url(#picCircle)")
      symbol(id="picText", viewBox="0 0 100 100")
      use(xlink:href="#clippedPic", x="0", y="0")
      g(y="30")
        use(xlink:href="#nameCircle" fill="none", stroke="white", stroke-width="0.5rem", stroke-opacity="0.5")
        text(fill="black",font-size="0.3rem", background="white")
          textPath(xlink:href="#nameCircle", startOffset="13%") Zachary Sang
    div.inspiration Life's like a box of chocolates. You more or less get what you asked for
  div.gridContainer
    div.content
      div.section#About
        h1 Who I am
        img.image
        p.text
          | Hello! My name is Zachary Sang (in the blue shirt) and I’m a Computer 
          | Science Major at the University of Cincinnati (Graduating Spring 2019). 
          | I’m a third year student at UC who moved to Cincinnati from Hong Kong for my 
          | first year of college. I have always been interested in solving problems and 
          | using my skills to improve things around me. I also 
          | hold a deep interest in computers, how they work, and how they can be used creatively 
          | to solve issues and inefficiencies. Because of all this, I’m very glad that 
          | I was able to find myself as a CS major because it allows me to create while 
          | continuously learning about technology and solving exciting and fascinating problems.
      div.section#Skills
        h1 Things I'm Good At
        p
      div.section#Experience
        h1 Experience
        p 
      div.section#Resume
        h1 Resume
        a(href="/images/Zachary_F_Sang_Resume.png").resume.link
          img(src="/images/Zachary_F_Sang_Resume.png").resume.image
