extends layout

block content
  div.header
    a.headerLink(href="#Top") Top
    a.headerLink(href="#Resume") Resume
  div.banner
    img(src="/images/road.jpeg", width="100%").mast.image
    img(src="/images/profile-image.jpg").profile.image
  div.gridContainer
    div.content
      div.section#About
        h1 Who I am
        p 
        div.section#Skills
        h1 Things I'm Good At
        p
      div.section#Experience
        h1 Experience
        p 
        div.section#Resume
        h1 Resume
        img(src="/images/Zachary_F_Sang_Resume.png", width="100%")
  div.footer

  block append head
