$text-color-1: #092e7d; // blueish
$text-color-2: #fff;
$text-color-3: #fff;
$text-color-4: #ff6600; // hyper-accent

$background-color-1: #98a2c8;
$background-color-2: #4056a1;
$background-color-3: #fff;

$warning-color: #f8ac59;
$error-color: #ed5565;