$text-color-1: #092e7d; // blueish
$text-color-2: #000;
$text-color-3: #fff;
$text-color-4: #F9C80E; // hyper-accent

$background-color-1: #ccf5d8;//#AA8f81;
$background-color-2: #907AD6;//#FFE6E3;
$background-color-3: #fff;

$warning-color: #f8ac59;
$error-color: #ed5565;

// rules
/*
background-color-2 must contrast font-color-2
 
*/