$text-color-1: #092e7d; // blueish
$text-color-2: #000;
$text-color-3: #fff;
$text-color-4: #f13c20; // hyper-accent

$background-color-1: #c5cbe3;
$background-color-2: #4056a1;
$background-color-3: #fff;

$warning-color: #f8ac59;
$error-color: #ed5565;

// rules
/*
background-color-2 must contrast font-color-2
 
*/