.mast.contents {
  background-image: url("/images/road.jpeg");
  background-size: cover;
  height: 50rem;
  text-align:center;
}

svg.name {
    display: inline-block;
    position:relative;

    width: 60rem;
    height: 60rem;
}