.banner {
  height: 50rem;
  
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;

  overflow:hidden;
}

.banner.image {
    position: absolute;
    display: block;
    width: 150rem;
}

.banner .inspiration {

    padding-top: 18rem;
    position: relative;
    width: 30rem;
    height: 30rem;
    text-align: center;
    left: 15rem;

    color:white;
    font-size: 5rem;
    font-family: "Cookie";
}

.banner svg {
    position:relative;

    width: 30rem;
    height: 30rem;
}

@keyframes cycleText {

    0% {
        startOffset: 0;
    }

    100% {
        startOffset: 100;
    }

}