$base-color: #F36F03;

.banner {
  height:100%;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  position:fixed;
  top:0;
  width:100%;
  padding: 1rem;
  background-color: $base-color;
  color: white;
  font-size: 1.5rem;

  z-index: 100;
}

.headerLink {
  padding: 0.7rem 1.5rem;
  border: 2px solid $base-color;
  
}

.headerLink:hover{
  border: 2px solid white;
  transition:0.2s;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 50rem 1fr;
}

.content {
  grid-column-start: 2;
  display: flex;
  flex-wrap: wrap;
}

.section {
  display: block;
  width: 100%;
  margin: 1rem 2rem;;
}

.mast.image {
  position: relative;
}

.profile.image {
  position: absolute;
  left: calc(50% - 5rem);
  top: calc(50% - 5rem);
  width: 12rem;
  border-radius: 50%;
}

.resume.link {
  display: block;
  width: 100%;
}

.resume.image {
  width: 100%;
}