$base-color: #F36F03;

@import "banner-style.scss";
@import "navbar-style.scss";

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 80rem 1fr;
}

.contents {
  grid-column-start: 2;
  padding-top: 5rem;
}

.sectionContainer {
  padding: 5rem 0;
  border-bottom: 2px solid black;
}

.section {
  font-size: 1.3rem;
  padding: 0 5rem; // give space for heading

}

.section img {
  display: block;
  width: 30rem;
  float:left;
  margin: 0 5rem;
}

.section a {
  display: block;
}

.section p {
  
}

::selection {
  background-color: red;
}


@media screen and (orientation:landscape){
.sectionContainer h1 {
  position:fixed;
  bottom:50vh;
  left: 10vw;

}

.sectionContainer:not(hover) h1, .sectionContainer:not(target) h1{
  transform: rotate(-90deg) translate(0,-100vw);
  transition: 0.2s;
}

.sectionContainer:hover h1{
  transform: rotate(-90deg) translate(0,0);
  transition: 0.2s;
}

}

.resume.image {
  width:100%;
  display: inline-block;
  float: none;
}

.skillsbox {
  display:flex;
  width:100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill {
  margin: 1rem;
}

