.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  position: fixed;
  top:0;
  width:100%;
  padding: 1rem;
  background-color: rgba(243,111,3,0.7);
  color: white;
  font-size: 1.5rem;

  z-index: 100;

}

.navLink {
  padding: 0.5rem 0.8rem;
  margin: 0.5rem 1rem;
  border: 2px solid white;
  border-color:inherit;
  
}

/*
.navLink:hover{
  border: 2px solid white;
  transition:0.2s;
}

.navLink:not(hover) {
  border: 2px solid white;
  border-color:inherit;
  transition: 0.15s;
}
*/