.banner {
  height: 50rem;
  
  position: inherit;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  overflow:hidden;
}

.banner.image {
    position: absolute;
    display: block;
    width: 100vw;
}

.bannerItem {
    display: block;
    position: relative;

    color:black;
    font-size: 1rem;

    bottom: -10rem;
}

.inspiration {
    //width: 30rem;
    //height: 30rem;
    display: inline;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.3rem;
}

.funtext {
    text-align: center;
}

.computerist {
    font-family: "Share Tech Mono";
    font-size: 1.5rem;
    font-style: italic;
}

.banner svg {
    width: 30rem;
    height: 30rem;
}

@media screen and (max-width: 767px){
    .inspiration.bannerItem {
        display: none;
    }
}


@keyframes cycleText {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}