$base-color: #F36F03;

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 80rem 1fr;
}

.contents {
  grid-column-start: 2;
}

.sectionContainer {
  border-bottom: 2px solid black;
  position: relative;
}

.sectionContainer#About p {
  padding: 1rem;
  text-align: justify;
}



.section {
  font-size: 1.3rem;
  padding: 3rem 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;

}

.section.intro img {
  width: 35rem;
  float: left;
}

.section.intro a img.highlight {
  display: none;
}

.section.intro a:hover img.normal{
  display: none;
}

.section.intro a:hover img.highlight{
  display: inherit;
}

.section.intro p {
  width: 35rem;
}

.sectionContent {
  width: 45rem;
  position: relative;

}


.sectionContent .entryPic, .sectionContent p{
  max-height: 30rem;
}

.sectionContent .entryPic {
  position: relative;
}

.section p {
  padding: 2rem;
  background-color: rgba(255, 255 , 255, 0.95);
  overflow: hidden;
  bottom: 4rem;
}

.sectionContent p {
  position: absolute;
  background-color: rgba(250,250,250,0.7);
  text-align: justify;
}

.sectionHeadings {
    width: 20%;
}
.sectionHeadings h2 {
  background-color: rgba(0,0,0,0.2);
  font-size: 1.4rem;
  padding: 1rem;
}

.sectionHeadings h2.selected {
  background-color: rgba(0,0,0,0.7);
  color: white;
  box-shadow: 0 0 0.3rem black;
  transition: 0.2s;
}

h2:hover {
  background-color: rgba(0,0,0,0.4);
  color: white;
  transition: 0.2s;
}



.section a {
  display: block;
}

.entry {
  opacity: 0;
  display: none;
}

//careful!
.entry.show {
  opacity: 1;
  display: inherit;
  transition: 0.2s;
}

.resume.image {
  width:100%;
  display: inline-block;
  float: none;
  margin: 0;
}

.resume {
  opacity: 0.9;
}



@media screen and (orientation:landscape){


.sectionContainer h1 {
  display: inline-block;
  position:absolute;
  left: -12rem;
  top: 10rem;
  text-anchor: end;

  
  transform: rotate(-90deg);

}



.sectionContainer:not(hover) h1, .sectionContainer:not(target) h1{
  transform: rotate(-90deg) translate(0,-100vw);
  transition: 0.2s;
}

.sectionContainer:hover h1{
  transform: rotate(-90deg) translate(0,0);
  transition: 0.2s;
}

}

@media screen and(orientation:portrait){

.section {
  padding: 0;
}

h1 {
  margin-left: 2rem;
}

.section.intro img.normal {
  margin: 0 0;
  position: static;
}

}
