<!DOCTYPE html>
<html>
<head>	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="web-dist/js/jquery-3.1.1.min.js"></script>
	<script src="web-dist/js/client.js"></script>
	<style>
		@media (max-width: 800px) {
			.no-mobile{
				display: none;
			}
		}
	</style>
</head>
		{% include head.html %}
    <body>
        {% include navbar.html %}
        {% include top.html %}
		<div id="about"></div>
		<script>insertHtml("#about","web-dist/markdown/about.html")</script>

		<div id="experience"></div>
		<script>insertHtml("#experience","web-dist/markdown/experience.html")</script>
        
		<div id="activities"></div>
		<script>insertHtml("#activities","web-dist/markdown/activities.html")</script>
		
		<div id="resume"></div>
		<script>insertHtml("#resume","web-dist/markdown/resume.html")</script>
        
		{% include contacts.html %}
        {% include copyright.html %}
        {% include tracking.html %}
    </body>
</html>


